.page-content {
    display: flex;
    flex-wrap: no-wrap;
    flex: 1 1 auto;
}

.lists-wrapper {
    display: flex;
    flex: 1 1 auto;
    flex-wrap: wrap;
    align-items: stretch;
    padding: 20px;
}