* {
    box-sizing: border-box;
}

.page-content {
    display: grid;
    grid-template-columns: 300px auto;
    grid-column-gap: 20px;
    height: 100%;
    justify-content: stretch;
}

.lists-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 20px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}